# Nextflow
work/
.nextflow*
trace-*.txt
timeline*.html
report*.html
dag*.png

# Folders
data/
results/

# Tools (will be downloaded automatically)
tools/

# Temporary files
*.tmp
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db