// Nextflow configuration for MetBio-WGSP pipeline

// Default parameters
params {
    // Tool selection
    tool = null
    
    // Input/Output
    fastq_dir = null
    sample_paths = null
    lineages_fasta = null
    reference_fasta = null
    outdir = "results"
    
    // Tool parameters
    kmer_size = 31
    fragment_length = null
    sd = null
    threads = 32
    
    // Freyja variants parameters
    refname = 'NC_045512.2'
    minq = 20
    
    // Freyja demix parameters
    freyja_eps = "0.001"
    covcut = 10
    depthcutoff = 0
    confirmedonly = false
    pathogen = 'SARS-CoV-2'
    barcodes = null
    
    // Freyja update parameters
    freyja_outdir = null
    
    // Freyja aggregate parameters
    mincov = 60
    
    // Freyja plot parameters
    thresh = 0
    lineage = null
    
    // Visualization
    create_plots = true
    
    // VILOCA parameters
    run_viloca = false
}

// Process configuration
process {
    // Default process settings
    cpus = { params.threads }
    
    withName: 'FREYJA_ALIGN' {
        conda = '/home/nicolaedrabcinski/miniconda3/envs/viloca'
    }
    
    withName: 'FREYJA_VARIANTS|FREYJA_DEMIX|FREYJA_AGGREGATE|FREYJA_PLOT' {
        container = 'staphb/freyja:latest'
    }
    
    withName: 'VILOCA_RUN|VILOCA_AGGREGATE' {
        conda = '/home/nicolaedrabcinski/miniconda3/envs/viloca'
        cpus = { params.threads }
        memory = '32 GB'
        time = '24h'
    }
    
    withName: 'CREATE_WHO_PLOTS' {
        container = 'jupyter/scipy-notebook:latest'
    }
    memory = '80 GB'
    time = '24h'
    
    // Error handling
    errorStrategy = 'retry'
    maxRetries = 2
    
    // Tool-specific resource requirements
    withName: 'KALLISTO_INDEX' {
        memory = '80 GB'
        time = '24h'
    }
    
    withName: 'LR_KALLISTO' {
        cpus = { params.threads }
        memory = '80 GB'
        time = '24h'
    }
    
    withName: 'FREYJA_ALIGN' {
        cpus = { params.threads }
        memory = '80 GB'
        time = '24h'
    }
    
    withName: 'FREYJA_VARIANTS' {
        memory = '80 GB'
        time = '24h'
    }
    
    withName: 'FREYJA_DEMIX' {
        memory = '80 GB'
        time = '24h'
    }
    
    withName: 'FREYJA_UPDATE' {
        memory = '80 GB'
        time = '24h'
    }
    
    withName: 'FREYJA_AGGREGATE' {
        memory = '80 GB'
        time = '24h'
    }
    
    withName: 'FREYJA_PLOT' {
        memory = '80 GB'
        time = '24h'
    }
    
    withName: 'CREATE_PLOTS' {
        memory = '80 GB'
        time = '24h'
    }
}

// Execution profiles
profiles {
    local {
        process.executor = 'local'
        process.cpus = { Math.min(params.threads, Runtime.runtime.availableProcessors()) }
    }
    
    cluster {
        process.executor = 'slurm'
        process.queue = 'normal'
        process.clusterOptions = '--time=24:00:00'
    }
    
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        
        process {
            withName: 'FREYJA_ALIGN' {
                container = 'quay.io/biocontainers/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:1679e915ddb9d6b4abda91880c4b48857d471bd8-0'  // Use minimap2 container for alignment
                cpus = params.threads
            }
            withName: 'FREYJA_VARIANTS|FREYJA_DEMIX|FREYJA_UPDATE|FREYJA_AGGREGATE|FREYJA_PLOT' {
                container = 'staphb/freyja:latest'
                cpus = params.threads
            }
        }
    }
    
    docker_stable {
        docker.enabled = true
        
        process {
            withName: 'FREYJA_ALIGN|FREYJA_VARIANTS|FREYJA_DEMIX|FREYJA_UPDATE|FREYJA_AGGREGATE|FREYJA_PLOT' {
                container = 'staphb/freyja:latest'
            }
            
            withName: 'KALLISTO_.*|LR_KALLISTO' {
                container = 'quay.io/biocontainers/kallisto:0.51.1--h6ad9e81_1'
            }
        }
    }
    
    mixed {
        docker.enabled = true
        conda.enabled = true
        
        process {
            withName: 'FREYJA_ALIGN' {
                conda = '/home/nicolaedrabcinski/miniconda3/envs/viloca'
            }
            
            withName: 'FREYJA_VARIANTS|FREYJA_DEMIX|FREYJA_AGGREGATE|FREYJA_PLOT' {
                container = 'staphb/freyja:latest'
            }
            
            withName: 'CREATE_WHO_PLOTS' {
                container = 'jupyter/scipy-notebook:latest'
            }
            
            withName: 'VILOCA_RUN|VILOCA_AGGREGATE' {
                conda = '/home/nicolaedrabcinski/miniconda3/envs/viloca'
            }
        }
    }
}

// Pipeline metadata
manifest {
    name = 'MetBio-WGSP'
    author = 'Victor Gordeev, Nicolae Drabcinski'
    homePage = 'https://github.com/nicolaedrabcinski/metbio_nextflow'
    description = 'Bioinformatics package for wastewater surveillance'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.04.0'
    version = '1.0.0'
}

// Reporting
timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/dag.svg"
    overwrite = true
}