// Простые настройки

params {
    input = null
    index = null  
    outdir = 'results'
    tools_dir = 'tools'
    download_kallisto = false  // Автоматически определяем нужно ли скачивать
}

// Профили
profiles {
    local {
        // Локальный запуск без контейнеров
        docker.enabled = false
        singularity.enabled = false
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
        process.container = 'quay.io/biocontainers/kallisto:0.48.0--h15996b0_2'
    }
    singularity {
        singularity.enabled = true
    }
}

// Ресурсы по умолчанию
process {
    cpus = 16
    memory = '64.GB'
    
    // Для процесса скачивания
    withName: DOWNLOAD_KALLISTO {
        cpus = 1
        memory = '1.GB'
        time = '10.min'
    }
}